head 
  title About HyperWeather
  
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  link(rel="stylesheet" href="/style.css")
  
body
  .about
    :marked
      <p class=link>[Back to the forecast](/)</p>
      # HyperWeather
      ### User-friendly Forecasts

      **Advanced Usage Tips:**
      
      - HyperWeather starts with the day before yesterday, *not today*
      - Rationale: [How to Display the Temperature Properly](http://blog.leftium.com/2013/12/how-to-display-temperature-properly.html)
      

      - Only the most important forecast details shown
      - Tap forecast.io link to see full weather details

      
      - The lighter lines graph the "feels like" temperature
      - The purple dot is the current "feels like" temperature
      - Weather icon tooltips give additional forecast details

      
      - Portrait view: current conditions and short-term forecast
      - Landscape view: extended forecast
      - Tap temperature: toggle &deg;F and &deg;C
      
      
      - JSON link: raw JSON weather data
      - [View/remix](https://hyperdev.com/#!/project/summer-myth) HyperWeather's code 
      
      
      - Location determined by IP address
      - Manual input and HTML geolocation may be added later...
      
      
      - More [background information](http://blog.leftium.com/2016/06/hyperweather.html)
      - Send comments and suggestions to [@Leftium](https://twitter.com/leftium) or [HyperWeather@leftium.com](mailto:HyperWeather@leftium.com)
      
      ---
      
      Powered by [HyperDev](https://hyperdev.com/about/) and [forecast.io](http://forecast.io/)
      <br><br>
